/*---------------------------------------------------------------------------*\
    #VARIABLES > #COLORS
\*---------------------------------------------------------------------------*/

$color-primary: #00358E;
$color-secondary: #EF9600;
$color-gray-dark: #878787;
$color-gray-light: #f8f8f8;
$color-white: #ffffff;
$color-black: #000000;
$color-text-gray-dark: #585858;